html{
	background-color: black;
}
h1 {
	color: white;
}
h2{
	color: white;
}
h3{
	color: white;
}
p{
	color: white;
	font-size: 18px;
	font-family: 'Helvetica', sans-serif, serif;
}
.nav li {
	display: inline;
	padding-bottom: 5px;
	padding-top: 5px;
	margin; 2px 10px 2px 10px;
	background-color: #fffff2;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 8px;
	
	
}
.nav a {
	padding-right: 10px;
	text-decoration: none;	

}
.nav{
	position: relative;
	right: 35px;
	
}